{% import _self as menus %}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul{{ attributes|without('class') }} class="primary-nav">
        {% else %}
            <ul>
        {% endif %}
        {% for item in items %}
            <li{{ item.attributes|without('class') }} class="nav-item nav-item-toggable">
                {{ link(item.title, item.url, {'class':'nav-link'}) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{{ menus.menu_links(items, attributes, 0) }}
