<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<section class="hero" style="background: url('{{ image_url }}') center center;background-size: cover;">
    {{ page.header }}
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>
{{ background_page }}
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
      {{ page.content }}
    </div>
  </main>
  {% if page.footer %}
      {{ page.footer }}
  {% endif %}
</div>
